Flask
numpy
pandas
tensorflow>=2.12
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
gunicorn
scikit-learn
python-dotenv
google-api-python-client
apscheduler
python-dotenv
joblib

